.example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    // width: 500px;
    // height: 300px;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    // padding: 20px;
    min-width: 300px;
  }

  .btn {
    cursor: pointer;
    margin: 20px;
  }

  .sb-show-icon {
    min-width:50px!important;
    min-height:50px;
  }
  
  .icon-bar {
    width: 22px;
    height: 2px;
    background: black;
    margin: 3px;
    position: relative;
  }