.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    // padding: 20px;
    min-width: 300px;
  }

  .btn {
    cursor: pointer;
    margin: 20px;
  }
  
  .icon-bar {
    width: 22px;
    height: 2px;
    background: black;
    margin: 3px;
    position: relative;
  }