<div class="container content" role="main">
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center"
            style="color:#333; font-size:large; font-weight:600; padding: 20px 0;">
            {{myFormattedDate}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center float-right"
            style="color:#333; font-size:x-large; font-weight:600; padding: 20px 0;">PHASE 10 Scoreboard</div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-right">
            <mat-button-toggle-group (click)="boardview=group.value" #group="matButtonToggleGroup">
                <mat-button-toggle value="grid" aria-label="Grid View">
                  <mat-icon>grid_view</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="table" aria-label="Table View">
                  <mat-icon>view_headline</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            <button mat-raised-button (click)="openDialog()">Add Score</button>
        </div>
    </div>
    <hr />

    <!-- GRID VIEW -->
    <mat-grid-list *ngIf="boardview == 'grid'" class="text-center" [ngStyle]="{'max-width': 'auto'}"  [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let player of players | keyvalue"
            class="player-grid text-center">
            <div style="height: 100%; width: 100%;">
            <mat-grid-list [cols]="1" rowHeight="3:1" style="margin: 10px 5px; box-shadow: 2em solid #ffc107">
                <mat-grid-tile class="player-grid-name col-12"> {{player.key}} </mat-grid-tile>
                <mat-grid-tile style="background-color: #007bff;font-size:medium" class="col-12">PHASE :  
                    <span class="player-score-and-phase">  {{player.value.currentPhase}}</span></mat-grid-tile>
                <mat-grid-tile style="font-size:medium; background-color: #28a745;" class="col-12">POINTS :  
                    <span class="player-score-and-phase">  {{player.value.totalPoint}}</span></mat-grid-tile>
            </mat-grid-list>
        </div>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- TABLE VIEW -->
    <table *ngIf="boardview != 'grid'" class="col-12">
        <tr>
            <td *ngFor="let player of players | keyvalue">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <td style="font-size: 26px; margin: 10px; color: #333; text-align:center;">
                                {{player.key}} <span *ngIf="player.value.totalPoint != 0">-
                                    {{player.value.totalPoint}}</span>
                            </td>
                        </tr>
                        <hr />
                        <tr class="text-center">
                            <td class="phase-container">
                                <table width="100%">
                                    <tr style="margin: 10px 0;">
                                        <td style="height: 30px;" *ngFor="let number of [1,2,3,4,5]">
                                            <span
                                                class="{{player.value.currentPhase > number? 'phase-cleared':'phase-not-cleared'}}">{{number}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 30px;" *ngFor="let number of [6,7,8,9,10]">
                                            <span
                                                class="{{player.value.currentPhase > number? 'phase-cleared':'phase-not-cleared'}}">{{number}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <hr />
                        <tr style="margin-top: 100px"
                            *ngFor="let score of player.value.allPoints; let scoreIndex=index">
                            <td style="height: 30px;"
                                class="text-center {{horizontalLineNeeded(scoreIndex+1) && scoreIndex != 0? 'line-visible':''}}">
                                {{score}}
                            </td>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </table>
</div>