<div class="container-fluid content" role="main">
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-4 col-md-3 col-sm-12 col-12 text-center"
            style="color:#333; font-size:large; font-weight:600; padding: 20px 0;">
            {{myFormattedDate}}
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 col-12 text-center float-right"
            style="color:#333; font-size:x-large; font-weight:600; padding: 20px 0;">PHASE 10 Scoreboard</div>

        <div class="col-lg-4 col-md-3 col-sm-12 col-12 float-right">
            <button mat-raised-button (click)="openDialog()">Add Score</button>
        </div>
    </div>
    <hr />
    <table class="col-12">
        <tr>
            <td *ngFor="let player of players | keyvalue">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <td style="font-size: 26px; margin: 10px; color: #333; text-align:center;">
                                {{player.key}} [{{player.value.totalPoint}}]
                            </td>
                        </tr>
                        <hr />
                        <tr class="text-center">
                            <td class="phase-container">
                                <table width="100%">
                                    <tr style="margin: 10px 0;">
                                        <td style="height: 30px;" *ngFor="let number of [1,2,3,4,5]">
                                            <span
                                                class="{{player.value.currentPhase > number? 'phase-cleared':'phase-not-cleared'}}">{{number}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 30px;" *ngFor="let number of [6,7,8,9,10]">
                                            <span
                                                class="{{player.value.currentPhase > number? 'phase-cleared':'phase-not-cleared'}}">{{number}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <hr />
                        <tr style="margin-top: 100px"
                            *ngFor="let score of player.value.allPoints; let scoreIndex=index">
                            <td style="height: 30px;"
                                class="text-center {{horizontalLineNeeded(scoreIndex+1) && scoreIndex != 0? 'line-visible':''}}">
                                {{score}}
                            </td>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </table>


</div>