<div class="container">
    <div class="row align-items-start">
            <img class="col-lg-3 col-12" width="100%" src="./../../assets/images/logo.jpg" />
            <div class="col-lg-9 col-12">
                Phase 10™ is played in a series of rounds which players attempt to build combinations of cards known as "Phases." When someone "goes out* by both playing a completed Phase and getting rid of their remaining cards, the round
                ends. It you didn't finish building your Phase before the round ended, you must try to build the same Phase again. The race is on to finish your 10th Phase first!

                <h2>OBJECT</h2>
                <p>
                    Be the first player to complete all 10 Phases.
                </p>
            </div>
        </div>
        <div>
            <h2>CONTENTS</h2>

            <ul style="list-style: none;">
                <li>110 cards as follows:</li>

                <li>96 numbered cards - 2 sets of 1-12 in blue, green, red, and yellow</li>
                <li>8 Wild cards</li>
                <li>4 Skip cards</li>
                <li>2 Phase Reference cards</li>
            </ul>
            <h2>SETUP</h2>
            <p>Choose one player to be dealer. The dealer places the four Phase Reference cards (which list the 10 Phases) where everyone can see them.</p>
            <p>
                The dealer then shuffles the deck and deals 10 cards, face down, to each player. Players can look at their cards but should hold them so other players can't see them.
            </p>
            <p>
                Place the remaining deck face down in the center of the play area form a draw pile.
            </p>
            <p>
                Turn the top card of the draw pile over and place f beside the draw pile to start a discard pile.
            </p>
            <p>
                The player to the left of the dealer goes first. Play proceeds in a clockwise direction.
            </p>
            <h2>LET'S PLAY!</h2>

            <p>Each player's turn follows these four steps:</p>
            <ul style="list-style: none;">
                <b>
                    <li>1. Draw a card,</li>
                    <li>2. Lay down a Phase (if possible).</li>
                    <li>3. Play cards on completed Phases by "hitting" (f possible).</li>
                    <li>4. End your turn by discarding one card.</li>
                </b>
            </ul>
            <p>We will look at each step detail below.</p>
            <h3 style="background-color: #ddd;"><b>STEP 1: DRAW A CARD</b></h3>
            <p>
                On your turn, draw one card, either the top card from the draw pile or the top card from the discard pile, and add it to your hand.
            </p>
            <h3 style="background-color: #ddd;"><b>STEP 2: LAY DOWN A PHASE</b></h3>
            <p>
                If you are able to make a Phase with the cards in your hand, lay the Phase down, face up on the table. <b>Each player can only make only one Phase per round.</b> During the first round, all players try to complete Phase 1.
            </p>
            <h4><b>What is a phase?</b></h4>
            <p>
                Phase is a combination of cards made up of sets, runs, cards of all one color, or a combination of sets and runs.
            </p>
            <div style="background-color: #ddd; padding: 30px; margin: 20px 0;">
                <h4><b>DEFINITIONS</b></h4>
                <p>
                    <span style="font-size: medium; font-weight: 500;"><b>SETS:</b></span> A set is made of two or more cards with the same number, in any combination of colors.
                    <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> Phase 1 is "2 sets of 3", which could be three 7s and three 10s. The two sets could also same number, e.g., three 10s and three more 10s.
                </p>
                <p>
                    <span style="font-size: medium; font-weight: 500;"><b>RUNS:</b></span> run i made of four or more cards numbered in consecutive order, in any combination colors.
                    <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> Part of Phase 2 requires ' run of 4", which could be 3, 4, 5, 6.
                </p>
                <p>
                    <span style="font-size: medium; font-weight: 500;"><b>ALL ONE COLOR:</b></span> The cards are all the same color, but they do not need to be in numerical order.
                    <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> Phase 8 requires "7 cards of 1 color" which could be seven red cards o seven green cards, etc.
                </p>
            </div>
            <p>
                These are the ten Phases in order:
            </p>
            <ul style="list-style: none;">
                <li>1. 2 sets of 3</li>
                <li>2. 1 set of 3 + 1 run of 4</li>
                <li>3. 1 set of 4 + 1 run of</li>
                <li>4. I run of 7</li>
                <li>5. 1 run of 8</li>
                <li>6. 1 run of 9</li>
                <li>7. 2 sets of 4</li>
                <li>8. 7 cards of 1 color</li>
                <li>9. 1 set of 5+ set of 2</li>
                <li>10. 1 set of 5 + 1 set of 3</li>
            </ul>

            <h4><b>Making a Phase</b></h4>
            <p>
                • Phases must be made IN ORDER, from 1 to 10.<br />
                • You can only make one Phase per round.<br />
                • You must have the whole Phase in hand before laying down.<br />
                • You receive credit for making a Phase soon as you lay it down (you do not need to win the round by going out to advance to the next Phase).<br />
                • If you fail to make a Phase Before the round ends you must try to make the same Phase again in <br />
                the next round. As a result, players may not all be working on the same Phase in the same round.<br />
            </p>
            <p>
                <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> You are trying to make Phase 1. You have three 5s and two 7s, and you draw another 7. la man you may day hen down. late ned round, you draw. mn You
                have three 5s and two 7s, and you draw another 7. You now have working on Phase 2.
            </p>

            <h3><b>SPECIAL CARDS</b></h3>
            
            <div class="row mb-4">
                <img class="col-lg-2 col-md-4 col-12" height="100%" src="./../../assets/images/star.jpg" />
                <div class="col-lg-10 col-md-8 col-12">
                    <h4>Wild Cards</h4>
                    <p>Wild card may be used in place of a number card or may be used as any color to complete a Phase.</p>
                    <p>
                        <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> A player wants to make a run of 4, but only has cards 3, 4, and 6. The player uses a Wild card as a 5 to complete the run. Or, a player has 6
                        green cards and uses Wild card as a green card to complete Phase 8.
                    </p>
                    <p>• Players can use as many Wild cards as they want when completing a Phase, as long as they use at least one numbered card.<br /></p>
                    <p>• Once a Wild card has been played in a Phase, It cannot be removed from that Phase for the rest of the round. <br /></p>
                    <p>• If the dealer starts the discard pile with a Wild card, the card may be picked up by the first player.<br /></p>
                </div>
            </div>
            <div class="row mb-4">
                <img class="col-lg-2 col-md-4 col-12" height="100%" src="./../../assets/images/skip.jpg" />
                <div class="col-lg-10 col-md-8 col-12">
                    <h4>Skip Cards</h4>
                    <p>
                        Skip cards have only one purpose, to cause another player to lose a turn. To use, simply discard the Skip card on your turn by placing it in front of the player you've chosen to skip instead of placing it on the
                        discard pile. That player will be skipped on their next turn. When it is the skipped player's turn, that player's only action is to take the Skip card and place it on the discard pile. It is then the next player's
                        turn.
                    </p>
                    <p>• Playing a Skip card counts as a discard and ends your turn.</p>
                    <p>• A Skip card may never be picked up from the discard pile.</p>
                    <p>• A Skip card may never be used in making a Phase.</p>
                    <p>• If the dealer starts the discard pile with a Skip card, the first player's first turn i automatically skipped.</p>
                    <p>• A Skip card may not be played against a player with a Skip card in front of them.</p>
                </div>
            </div>
            <h3 style="background-color: #ddd;"><b>STEP 3: HITTING</b></h3>
            <p>
                After making a Phase, you must try to get rid of any cards that remain in your hand so you can go out and win the round, which ends the round for everyone (see GOING OUT below). Hitting is how you do this. As soon as you
                have made your Phase, you m "hit" by putting a card or cards from your hand directly on any matching Phase that has been laid down.
            </p>
            <p>
                • Before you can make a hit, <b>your own Phase must already be laid down.</b><br />
                • You may hit only during your turn.<br />
                • You may make as many hits as possible, playing multiple cards from your hand on multiple Phases.<br />
                • You may hit your own cards, another player's cards, or both, as long as the cards you play properly fit with the cards already laid down.
            </p>
            <p>
                <span style="font-size: medium; font-weight: 500;"><b>EXAMPLE:</b></span> You may add one or more 4s to any player's existing set of 4s. You may add a 2 to any player's existing run of 3, 4, 5, 6. You may also add a 7 and an
                8 to this run, if you have them. You may add one or more green cards to a player's seven green cards in Phase 8. You may also add a Wild card to any of these card situations.
            </p>
            <h3 style="background-color: #ddd;"><b>STEP 4: DISCARD ONE CARD TO END YOUR TURN</b></h3>
            <p>End your turn by discarding one of your cards face onto the top of the discard pile.</p>
            <h4><b>GOING OUT (ENDING THE ROUND)</b></h4>
            <p>
                After laying down a Phase, players try to "go out" as soon as possible. Going out ends the round for everyone. To go out, you must get rid of all your remaining cards by hitting on existing Phases, discarding your last card
                onto the discard pile, or a combination of both. The player t go out first wins the round. The winner of the round, <b>and any other players who also completed their Phase,</b> will advance to their next Phase on the next
                round. Players total the cards left in their hands (the fewer cards left in your hand, the better!).
            </p>
            <p><b>Remember, if you did not complete the Phase before another player went out, you must work on the same Phase again during the next round.</b></p>
            <h2>SCORING</h2>
            <p>
                You will need paper and pencil to keep a running total for each player. The winner of the round scores zero (players want to get the lowest score). All remaining players score points against them for any cards still in their
                hands, as follows:
            </p>
            <ul>
                <li>
                    5 points for each card numbered 1-9
                </li>
                <li>
                    10 points for each card numbered 10-12
                </li>
                <li>
                    15 points for each Skip card
                </li>
                <li>
                    25 points for each Wild card
                </li>
            </ul>
            <p>
                Only the cards in a player's hand are scored, not cards already laid down. After the scores are recorded, the player to the left of the dealer becomes the dealer. All cards are gathered and shuffled, and a new round begins.
            </p>
            <h2>WINNING THE GAME</h2>
            <p>
                The first player to complete Phase 10 at the end of a round is the winner. If two or more players complete their 10th Phase in the same round, then the player with the fewest total points is the winner. In the event of a
                tie, the players that tied replay the 10th Phase. The first one to go out is the winner.
            </p>
            <h2>VARIATIONS</h2>
            <p>
                1. The players play 10 rounds. All players advance to the next Phase each time, whether they complete the current Phase or not. Thus, in round one, players try for Phase 1, then i round two they all try for Phase 2, etc.
                After ten rounds, the player with the lowest total score is the winner.
            </p>
            <p>
                2. Players decide how many Phases must be completed to win (e.g. five Phases seven Phases). The number of Phases to be completed must be decided before play starts. All other rules remain the same. This variation allows for
                a shorter version.
            </p>
        </div>
</div>
